# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log

# Parcel cache files
.cache/

.dist/
.parcel-cache/

# Build output
dist/
build/

# Environment variables
# just playing
.env

# VS Code files
.vscode/

# Logs
logs/
*.log  
